.cta {
  grid-column: full-start / full-end;
  padding: 7rem 0;

  display: grid;
  grid-template-columns:
    minmax(16.3rem, 1fr) repeat(6, minmax(min-content, 18.5rem))
    minmax(16.3rem, 1fr);

  background-image: url(../images/bg-simplify-section-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom 0 left 270px;
  background-size: 90%;
  background-color: $color-primary;

  h2 {
    padding: 0;
    grid-column: 2 / span 3;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 2 / span 3;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 3.6rem;
    }
  }

  span {
    color: $color-light-gray;
    display: block;

    @media only screen and (max-width: $bp-small) {
      display: inline;
    }
  }

  button {
    justify-self: end;
    align-self: center;

    grid-column: 7;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 5;
    }

    @media only screen and (max-width: $bp-small) {
      margin-top: 3rem;
    }
  }

  @media only screen and (max-width: $bp-largest) {
    padding: 4.5rem 0;

    display: grid;
    grid-template-columns:
      minmax(14rem, 1fr) repeat(6, minmax(min-content, 18.5rem))
      minmax(14rem, 1fr);
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 4.5rem 0;

    display: grid;
    grid-template-columns:
      minmax(5rem, 1fr) repeat(4, minmax(min-content, 17rem))
      minmax(5rem, 1fr);
  }

  @media only screen and (max-width: $bp-small) {
    padding: 10rem 3.5rem 9rem;
    display: flex;
    flex-direction: column;

    background-image: url(../images/bg-simplify-section-mobile.svg);
    background-repeat: no-repeat;
    background-position: bottom 30% left 0;
    background-size: 30%;
  }
}
