.header {
  grid-column: center-start / center-end;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 14.7rem;
  }

  img {
    width: 100%;
  }

  &__nav {
    display: flex;

    @media only screen and (max-width: $bp-small) {
      display: none;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    font-size: 1.4rem;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.4rem;
    }
  }

  &__list li:not(:last-child) {
    padding-right: 2.4rem;
  }

  &__list a,
  &__list a:link,
  &__list a:visited {
    text-decoration: none;
    color: $color-dark-blue;
  }

  &__list a:hover,
  &__list a:active {
    color: $color-grayish-blue-dark;
  }

  .btn-cta--1 {
    @media only screen and (max-width: $bp-medium) {
      display: none;
    }
  }

  @media only screen and (max-width: $bp-small) {
    gap: unset;

    display: flex;
  }
}
