.testimonials {
  grid-column: full-start / full-end;

  z-index: 100;
  padding: 12rem 0 18rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    padding-bottom: 6rem;
  }

  &__card {
    font-size: 1.8rem;
    padding-top: 5.5rem;
    background-color: $color-light-gray;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    width: 6rem;
    height: 6rem;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h3 {
    padding: 0 0 2rem;
    color: $color-dark-blue;
  }

  blockquote {
    width: 87%;
    text-align: center;
    padding-bottom: 4rem;
  }

  button {
    align-self: center;

    @media only screen and (max-width: $bp-small) {
      margin-top: 4rem;
    }
  }

  @media only screen and (max-width: $bp-large) {
    padding: 10rem 0 14rem;
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 6rem 0 7rem;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 0 3.5rem 4rem;
  }
}
