.btn-cta,
.btn-cta:link,
.btn-cta:visited {
  align-self: start;
  color: $color-light-gray;
  background: $color-primary;
  padding: 1.6rem 3.2rem;
  border: none;
  box-shadow: 0px 12px 13px -10px $color-primary;
  font-family: inherit;
  font-weight: 700;
  border-radius: 32px;
  outline: none;
  cursor: pointer;

  transition: all 0.2s;

  &:hover,
  &:active {
    background: lighten($color-primary, 10%);
    transform: translateY(1px);
  }

  &--1 {
    justify-self: center;
  }

  @media only screen and (max-width: $bp-large) {
    font-size: 1.2rem;
  }

  @media only screen and (max-width: $bp-small) {
    align-self: center;
  }
}

.btn-cta-reversed,
.btn-cta-reversed:link,
.btn-cta-reversed:visited {
  color: $color-primary;
  background: $color-light-gray;
  cursor: pointer;
  transition: all 0.2s;

  &:hover,
  &:active {
    background: $color-light-gray;
    color: lighten($color-primary, 20%);
  }
}
