.email {
  background-color: $color-light-gray;
  padding: 1.2rem 1.6rem;
  color: $color-primary;
  border: 1px solid $color-light-gray;
  border-radius: 32rem;
  outline: none;
  font-family: inherit;
  font-size: inherit;

  @media only screen and (max-width: $bp-largest) {
    font-size: 1rem;
  }

  @media only screen and (max-width: $bp-largest) {
    padding: 1rem 1.2rem;
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 0.8rem 0.4rem;
  }

  @media only screen and (max-width: $bp-small) {
    width: 100%;
    padding: 1.2rem 1.6rem;
    font-size: 1.2rem;
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $color-grayish-blue-dark;

  @media only screen and (max-width: $bp-medium) {
    visibility: hidden;
  }

  @media only screen and (max-width: $bp-small) {
    visibility: visible;
  }
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $color-grayish-blue-dark;
}
