.swiper {
  width: 100%;
  height: 30rem;
}

#swiper .swiper-pagination-bullets {
  display: none;

  @media only screen and (max-width: $bp-small) {
    display: block;
  }
}

#swiper .swiper-pagination-bullet-active {
  background-color: $color-primary;
}

.swiper-wrapper {
  padding-top: 3rem;
}
